{% extends "base.html" %}
{% block title %}Удалить блюдо{% endblock %}

{% block del_success %}
<div style="display: grid; place-items: center; min-height: 10vh;">
    <h3 class="display-6">Удаление бдюда</h3>
</div>
<div style="display: grid; place-items: center; min-height: 10vh;">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div style="display: grid; place-items: center; min-height: 5vh;">
            <button type="submit" class="btn btn-danger">Удалить блюдо</button>
        </div>
    </form>
</div>

{% endblock %}
